@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@keyframes throb {
    0%,
    100% {
        opacity: 0.4;
    }

    50% {
        opacity: 1;
    }
}

.animate-throb {
    animation: throb 3s ease-in-out infinite;
}